.header{
    background-color: red;
}

// body{
//     background-color: rgb(32, 32, 32);
// }


input{
    padding: .5rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

.container-sm{
    max-width: 600px;
}