.header{
    background-color: red;
}

// body{
//     background-color: rgb(32, 32, 32);
// }


input{
    padding: .5rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

.container-sm{
    max-width: 600px;
}

.frequenza-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-edit{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 450px;
}

.card{
    border: none;
}